@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

/*! All the big changes are here */
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}

/* Basic css reset: */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'helix', sans-serif;
}

/* 
############
Containers
############ 
*/

.top-container {
  margin: 0 auto;
  max-width: 1800px;
  padding-bottom: 100px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 245, 255, 1) 100%
  );
}

.container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 1400px;
    padding: 0 40px;
  }
}

/* 
############
Typography
############ 
*/

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.6;
}

h2 {
  font-size: 46px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

/* 
############
Nav bar
############ 
*/

.nav-container {
  padding: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav > p {
  font-size: 36px;
  text-align: center;
}

.nav-links {
  display: none;
}

@media only screen and (min-width: 600px) {
  .nav-container {
    box-shadow: none;
    padding: 1.5rem 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav > p {
    font-size: 48px;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
  }

  .nav-links > a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .nav-links {
    width: 30%;
  }
}

/* 
############
Header
############ 
*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header > img {
  padding: 0 20px;
}
.header-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-contents > h1 {
  font-size: 64px;
  font-weight: 400;
  margin-top: 24px;
}

.header-contents > p {
  margin-top: 20px;
}

.contact-btn {
  margin: 24px auto;
}

@media only screen and (min-width: 992px) {
  header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  header > img {
    width: 60%;
    padding: 0 0 0 20px;
  }

  .header-contents {
    width: 40%;
    text-align: left;
  }

  .header-contents > h1 {
    font-size: 72px;
  }

  .header-contents > p {
    max-width: 450px;
  }

  .contact-btn {
    margin: 30px 0;
  }
}

@media only screen and (min-width: 1200px) {
  header > img {
    width: 50%;
  }
  .header-contents {
    width: 50%;
  }
}

/* 
############
Remote workout section
############ 
*/

.remote-workout {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.remote-container {
  padding: 20px 0;
  margin-top: 24px;
}

.remote-container > .container {
  padding: 40px;
}

@media only screen and (min-width: 992px) {
  .remote-workout {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 250px;
  }

  .remote-container {
    width: 45%;
    padding: 80px 0;
    margin-top: 0;
    border-radius: 20px;
  }

  .remote-workout > img {
    width: 50%;
    padding: 0;
    margin: 0;
  }
}

/* 
############
Arnold section
############ 
*/

.arnold-section {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  background: linear-gradient(
    99.85deg,
    hsl(217, 100%, 86%) 0%,
    hsl(217, 42%, 57%) 100%
  );
}

.arnold-container {
  padding-top: 100px;
  text-align: center;
}

.arnold-container a {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
}

.arnold-image {
  width: 100%;
  padding: 0 20px;
  margin-top: 100px;
  margin-bottom: -4px;
}

@media only screen and (min-width: 992px) {
  .arnold-section > .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .arnold-container {
    padding-top: 0;
    padding: 0 40px;
    width: 45%;
    text-align: left;
  }

  .arnold-container a {
    margin-left: 0;
    margin-top: 24px;
  }

  .arnold-image {
    width: 50%;
    margin-bottom: 0;
  }
}

/* 
############
Benefits section
############ 
*/

.benefits-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-only {
  display: none;
}

.cell {
  padding: 40px;
  margin-top: 20px;
  border-radius: 30px;
}

.cell > p {
  margin-top: 20px;
}

.benefits-section > a {
  margin: 0 auto;
  margin-top: 24px;
}

@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: flex;
    justify-content: space-between;
  }

  .benefits-section > a {
    margin: 0;
  }

  .desktop-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .cell-container.desktop-container {
    flex-wrap: wrap;
  }

  .cell {
    padding: 20px;
    margin: 10px;
    width: 100%;
  }
}

@media only screen and (min-width: 1100px) {
  .cell {
    padding: 25px;
    height: 250px;
    width: 47.5%;
    margin: 5px;
  }
}

@media only screen and (min-width: 1174px) {
  .cell {
    width: 48.5%;
    padding: 45px;
  }
}

/* 
############
Footer
############ 
*/

footer {
  border-top: 1px solid lightgray;
  padding-top: 50px;
  margin-top: 100px;
  text-align: center;
}

.links {
  margin-top: 20px;
}

.link-separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-separator > a {
  margin-top: 30px;
}

.email-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
}

.email-outer-container {
  margin-top: 20px;
}

.email-container > input {
  padding-left: 10px;
  height: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
}

.email-container > button {
  height: 100%;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0 5px 5px 0;
}

.social-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-btns > a {
  margin: 0 5px;
  width: 30px;
}

.social-btns img {
  width: 100%;
  height: 100%;
}

.copyright {
  margin-top: 40px;
  font-size: 0.7rem;
}

@media only screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 100px;
  }

  footer.top-margin {
    margin-top: 10px;
  }

  footer > h3 {
    margin-top: 50px;
    text-align: left;
    width: 33%;
  }

  .links {
    display: flex;
    width: 33%;
  }

  .link-separator {
    align-items: flex-start;
    width: 150px;
    margin-top: 0;
  }

  .link-separator > a {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .email-outer-container {
    width: 33%;
  }

  .social-btns {
    display: none;
  }
  .copyright {
    text-align: left;
    width: 50%;
  }
}

/* 
############
Buttons
############ 
*/

.btn {
  text-align: center;
  padding: 20px 0;
  font-size: 1.1rem;
  width: 250px;
  border-radius: 50px;
}

.blue-btn {
  background-color: #4b5092;
  border: 1px solid #4b5092;
  color: #fff;
}

.white-btn {
  background-color: #fff;
  border: 1px solid #fff;
  color: #4b5092;
}

/* 
############
General use utility classes
############ 
*/

.bold {
  font-weight: 600;
}

.top-spacer {
  margin-top: 24px;
}

.light-blue-bg {
  background-color: #e6f2ff;
}

.light-purple-bg {
  background-color: #e6e6ff;
}

/* 
############
Dev tools
############ 
*/

.red-border {
  border: 1px solid red;
}

.blue-border {
  border: 1px solid blue;
}

.green-border {
  border: 1px solid green;
}
